/* .main-list {
  max-width: 50rem;
  margin: 5rem auto;
}

.main-list ul {
  font-size: 2.5rem;
}

.brand-btn {
    border-radius: 0.05rem;
    background-color: cornflowerblue;
    color: #fff;
}

.main-list a {
  color: rgb(0, 131, 253);
}
.simple-nav {
  padding: 2rem;
  display: flex;
  gap: 4rem;
  font-size: 1.5em;
} */

#brand-list-main {
  margin: 5rem auto;
}

#brand-list-main h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.brand-table {
  font-size: 1.8rem;
  border: 0.2rem solid rgba(145, 145, 145, 0.582);
  border-radius: 1rem;
  overflow: hidden;
}

.brand-table-headers {
  background-color: var(--main-color);
  color: #fff;
}

.brand-table-headers,
.brand-table-row {
  gap: 0.3rem 0rem;
}

.brand-table-headers div,
.brand-table-row * {
  padding: 0.2rem 0.3rem;
  gap: 1rem;
}

.brand-table-headers div {
  padding: 1rem 0.3rem;
}

.brand-table-row {
  font-size: 1.5rem;
}

.brand-table-row > * {
  align-items: center;
}

.brand-table-row > a:hover {
  color: var(--main-color);
}

.brand-table > *:not(:last-child) {
  border-bottom: 0.1rem solid rgba(145, 145, 145, 0.582);
}

.brand-table-headers > *:not(:last-child),
.brand-table-row > *:not(:last-child) {
  border-right: 0.1rem solid rgba(145, 145, 145, 0.582);
}

.row-number-sort {
  cursor: pointer;
}

.row-number-sort:hover {
  color: #000;
}

/* -------- individual column width and styles ---------- */
.brand-table-row-number {
  width: 6rem;
  justify-content: center;
}

.brand-table-brand-logo {
  width: 5rem;
  justify-content: center;
}

.brand-table-brand-logo-img {
  width: 3.5rem;
  height: 3.5rem;
}

.brand-table-brand-name {
  width: 18rem;
}

.brand-table-brand-stock {
  width: 17rem;
}
.brand-table-brand-employee {
  width: 12rem;
}

.brand-table-brand-website,
.brand-table-brand-industries,
.brand-table-brand-headquarters {
  width: 25rem;
}

.brand-table-brand-description {
  width: 40rem;
}
/* -------- individual column width and styles ---------- */
