/* ===================== pagination  ===================== */
.pagination {
  max-width: 30rem;
  justify-content: space-between;
  justify-self: center;
  align-self: center;
  gap: 1.5rem;
}

.pagination-numbers {
  width: 10rem;
  justify-content: space-between;
  align-items: center;
}

.pagination-btn {
  width: 7rem;
  padding: 0.5rem;
  border: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--main-color);
  color: #fff;
}

.pagination-btn:hover {
  color: #000;
}

.pagination-btn:active {
  transform: scale(0.99);
}

.pagination-number-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.pagination-number-btn:hover {
  color: var(--main-color);
}

.active-pagination-btn {
  color: var(--main-color);
  font-weight: 400;
  text-decoration: underline;
}

/* ===================== Flash  ===================== */
.flash-alert {
  max-width: 50rem;
  max-height: 10rem;

  padding: 2rem;
  gap: 2rem;

  border-radius: 1rem;

  color: #fff;
  font-size: 2rem;

  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  animation: flashBoxMoving 500ms ease-in;
}

.flash-alert button {
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.alert-success {
  background-color: rgb(5, 172, 41, 0.7);
}

.alert-error {
  background-color: rgb(217, 35, 35, 0.7);
}
