/* .main-list {
  max-width: 50rem;
  margin: 5rem auto;
}

.main-list ul {
  font-size: 2.5rem;
}

.brand-btn {
    border-radius: 0.05rem;
    background-color: cornflowerblue;
    color: #fff;
}

.main-list a {
  color: rgb(0, 131, 253);
}
.simple-nav {
  padding: 2rem;
  display: flex;
  gap: 4rem;
  font-size: 1.5em;
} */

#brand-list-main,
#contact-list-main {
  margin: 5rem auto;
}

#brand-list-main h1,
#contact-list-main h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.brand-table,
.contact-table {
  font-size: 1.8rem;
  border: 0.2rem solid rgba(145, 145, 145, 0.582);
  border-radius: 1rem;
  overflow: hidden;
}

.brand-table-headers,
.contact-table-headers {
  background-color: var(--main-color);
  color: #fff;
}

.brand-table-headers,
.contact-table-headers,
.brand-table-row,
.contact-table-row {
  gap: 0.3rem 0rem;
}

.brand-table-headers div,
.brand-table-row *,
.contact-table-headers div
 {
  padding: 0.2rem 0.3rem;
  gap: 1rem;
}

.contact-table-row * {
  padding: 0.3rem;
  gap: 1rem;
}



.brand-table-headers div,
.contact-table-headers div {
  padding: 1rem 0.3rem;
}

.brand-table-row,
.contact-table-row {
  font-size: 1.5rem;
}

.brand-table-row > *,
.contact-table-row > * {
  align-items: center;
}

.brand-table-row > a:hover,
.contact-table-row > a:hover {
  color: var(--main-color);
}

.brand-table > .brand-table-list > *:not(:last-child),
.contact-table > .contact-table-list > *:not(:last-child) {
  border-bottom: 0.1rem solid rgba(145, 145, 145, 0.582);
}

.brand-table-headers > *:not(:last-child),
.brand-table-row > *:not(:last-child),
.contact-table-headers > *:not(:last-child),
.contact-table-row > *:not(:last-child) {
  border-right: 0.1rem solid rgba(145, 145, 145, 0.582);
}

.row-number-sort {
  cursor: pointer;
}

.row-number-sort:hover {
  color: #000;
}

/* -------- individual brand column width and styles ---------- */
.brand-table-row-number {
  width: 6rem;
  justify-content: center;
}

.brand-table-brand-logo {
  width: 5rem;
  justify-content: center;
}

.brand-table-brand-logo-img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
}

.brand-table-brand-name {
  width: 18rem;
}

.brand-table-brand-stock {
  width: 17rem;
}
.brand-table-brand-employee {
  width: 12rem;
}

.brand-table-brand-website,
.brand-table-brand-industries,
.brand-table-brand-headquarters {
  width: 25rem;
}

.brand-table-brand-description {
  width: 40rem;
}
/* -------- individual brand column width and styles ---------- */
/* ************************************************************ */

/* -------- individual contact column width and styles ---------- */
.contact-table-row-number {
  width: 3rem;
  justify-content: center;
}

.contact-table-contact-brand {
  width: 8rem;
  justify-content: center;
}

.contact-table-brand-logo-img {
  width: 3rem;
  height: 3rem;
}

.contact-table-contact-name {
  width: 18rem;
}

.contact-table-contact-position {
  width: 30rem;
}

.contact-table-contact-rank {
  width: 30rem;
}

.contact-table-contact-phoneNumber {
  width: 15rem;
}

.contact-table-contact-email {
  width: 20rem;
}

.contact-table-contact-location {
  width: 30rem;
}

.contact-table-row .contact-table-contact-linkedin {
  width: 25rem;
  color: rgb(0, 26, 255);
  font-weight: bold;
}
/* -------- individual contact column width and styles ---------- */
/* ************************************************************ */

.main-brand-list-viewmore, .main-contact-list-viewmore {
  justify-content: center;
  margin-top: 2rem;
}