<% if(success && success.length) { %>
    <div class="flash-alert alert-success flex" role="alert">

        <%= success %> <button> X </button>
    </div>
    <% } %>

        <% if(error && error.length) { %>
            <div class="flash-alert alert-error flex" role="alert">

                <%= error %> <button> X </button>
            </div>
            <% } %>