<footer class="footer">
    <div class="internal-footer-block">
        <p class="internal-background-color internal-use-text">For internal use only.</p>
        <p class="copyright">
            Copyright &copy; <span class="year">2022</span> by BrandInSight Inc.
            All rights reserved.
        </p>

    </div>
</footer>