<footer class="footer">
    <div class="container grid grid--footer">

        <p class="copyright">
            Copyright &copy; <span class="year">2022</span> by BrandInSight Inc.
            All rights reserved.
        </p>

        <p>For internal use only.</p>


    </div>
</footer>