<header class='header'>
    <a href="/">
        <h1 class='logo'><span class="logo-brand">Brand</span><span class="logo-insight">InSight</span></h1>
    </a>

    <div class="search-area">
        <div class="search-bar">
            <input type="text" class="search-bar__input" placeholder="Search a brand...">
            <button class='search-bar__submit'><i class="fas fa-search"></i></button>
            <!-- This is the drop down result list, it should be within the search-bar div -->



            <div class="search-result">
                <ul class="result-list hidden"> </ul>
            </div>
        </div>

        <div class="search-result">
            <ul class="search-result__list">
            </ul>

        </div>
    </div>

    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="#solutions"><i class="fa-solid fa-briefcase"></i> Solutions</a>
                <ul class="sub-menu">
                    <li><i class="fa-solid fa-building linear-gradient-text"></i>
                        <p>Company Insights</p>
                    </li>
                    <li><i class="fa-solid fa-chart-line linear-gradient-text"></i>
                        <p>Brand Spending</p>
                    </li>
                    <li><i class="fa-solid fa-address-book linear-gradient-text"></i>
                        <p>Contacts</p>
                    </li>
                    <li><i class="fa-solid fa-globe linear-gradient-text"></i>
                        <p>Global Strategy</p>
                    </li>
                    <li><i class="fa-solid fa-timeline linear-gradient-text"></i>
                        <p>Build Network</p>
                    </li>
                    <li><i class="fa-solid fa-phone linear-gradient-text"></i>
                        <p>B2B Sales Insight</p>
                    </li>
                </ul>
            </li>

            <li><a class="main-nav-link" href="/brands"><i class="fa-solid fa-building"></i> Brands</a>
            </li>
            <li><a class="main-nav-link" href="/contacts"><i class="fa-solid fa-address-book"></i> Contacts</a>
            </li>

            <% if (currentUser) { %>
                <li class="user-profile">
                    <a class="main-nav-link" href="#">
                        <i class="fa-solid fa-circle-user"></i>
                        Account
                    </a>
                    <ul class="sub-menu sub-menu--user-profile">
                        <li>
                            <a href="/user-profile" class="sub-menu--account flex">
                                <span>👋</span>
                                <span>
                                    <%= currentUser.username%>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/user/<%=currentUser._id%>" class="sub-menu--account flex">
                                <i class="fa-solid fa-screwdriver-wrench linear-gradient-text"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="/logout" class="sub-menu--account flex">
                                <i class="fa-solid fa-right-from-bracket linear-gradient-text"></i>
                                <span>Log Out</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <% } else { %>
                    <li><a class="main-nav-link nav-cta" href="/login">Sign Up / Login</a></li>
                    <% } %>

        </ul>
    </nav>
</header>