<header class='header'>
    <a href="/home">
        <h1 class='logo'><span class="logo-brand">Brand</span><span class="logo-insight">InSight</span></h1>
    </a>

    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="#solutions"><i class="fa-solid fa-building"></i> Solutions</a>
                <ul class="sub-menu">
                    <li><i class="fa-solid fa-building linear-gradient-text"></i>
                        <p>Company Insights</p>
                    </li>
                    <li><i class="fa-solid fa-chart-line linear-gradient-text"></i>
                        <p>Brand Spending</p>
                    </li>
                    <li><i class="fa-solid fa-address-book linear-gradient-text"></i>
                        <p>Contacts</p>
                    </li>
                    <li><i class="fa-solid fa-globe linear-gradient-text"></i>
                        <p>Global Strategy</p>
                    </li>
                    <li><i class="fa-solid fa-timeline linear-gradient-text"></i>
                        <p>Build Network</p>
                    </li>
                    <li><i class="fa-solid fa-phone linear-gradient-text"></i>
                        <p>B2B Sales Insight</p>
                    </li>
                </ul>
            </li>
            <li><a class="main-nav-link" href="#products"><i class="fa-solid fa-boxes-stacked"></i> Products</a>
            </li>
            <li>
                <a class="main-nav-link" href="#testimonials"><i class="fa-solid fa-shield-blank"></i>
                    Testimonials</a>
            </li>
            <li><a class="main-nav-link trial" href="/home">Free user</a></li>
        </ul>
    </nav>
</header>