<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" type="image/ico" href="/images/BrandInSight-favicon.ico" />
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/search-bar.css">
    <link rel="stylesheet" href="/style/client/home.css">
    <link rel="stylesheet" href="/style/brand.css">
    <link rel="stylesheet" href="/style/client/tablePage.css">
    <link rel="stylesheet" href="/style/animation.css">
    <link rel="stylesheet" href="/style/components.css">
    <link rel="stylesheet" href="/style/client/error-page.css">
    <link rel="stylesheet" href="/style/user/setting.css">
    <link rel="stylesheet" href="/style/user/profile.css">

    <!-- media queries -->
    <link rel="stylesheet" href="/style/media-queries/media-landing.css">
    <link rel="stylesheet" href="/style/media-queries/media-client.css">


    <script src="/js/nav-menu.js" defer></script>
    <script src="/js/client/generateHTML.js" type="module" defer></script>
    <script src="/js/client/pagination.js" type="module" defer></script>
    <script src="/js/searching.js" type="module" defer></script>
    <script src="/js/client/utilities.js" type="module" defer></script>
    <script src="/js/flash.js" defer></script>
    <script src="/js/client/table.js" type="module" defer></script>

    <title>BrandInSight - Home</title>
</head>

<body id="home-page-body">
    <%- include("../partials/headerClient") %>
        <%- include("../partials/flash") %>
            <%- body %>
                <%- include("../partials/footerClient") %>
</body>



</html>