#registration {
  max-width: 120rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 5rem;
}

#registration .signup-logo {
  font-size: 7rem;
  margin-bottom: 2rem;
}


.input-group {
  position: relative;
}

.exclaimation {
  cursor: pointer;
}

.note {
  position: absolute;
  border: 1px solid #639bb3;
  border-radius: 0.3rem;
  background-color: #fff;
  font-size: 1.2rem;
  white-space: nowrap;
  transform: scale(0);
  padding: 0.8rem;
  transition: transform 200ms ease-in-out;
  top: -15%;
}

.name-note {
  right: -81%;
}

.email-note {
  right: -87%;
}

.password-note {
  right: -109%;
}

.name-exclaimation:hover + .name-note {
  transform: scale(1);
}

.email-exclaimation:hover + .email-note {
  transform: scale(1);
}

.password-exclaimation:hover + .password-note {
  transform: scale(1);
}

.password-not-match {
  display: none;
  color: red;
  margin: 0;
  font-size: 1rem;

  position: absolute;
}
