/* --------- Should be deleted below --------------------- */
/* .brand-header {
  max-width: 90rem;
  margin: 10rem auto;
} */

.brand-btn {
  border-radius: 0.05rem;
  background-color: cornflowerblue;
  color: #fff;
}

.del-btn {
  background-color: crimson;
  color: #fff;
}

.simple-nav {
  display: flex;
  gap: 4rem;
  max-width: 70rem;
  padding: 10rem;
  justify-content: center;
  margin: 0 auto;
}
/* --------- Should be deleted above --------------------- */

#brand-main {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}

.brand-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 3rem;

  gap: 2rem;
}

.flex {
  display: flex;
}

/* brand header section */
/* --------------------------- */
/* --------------------------- */

.brand-header {
  background: linear-gradient(
    to left,
    var(--background-blue),
    rgb(240, 246, 252)
  );
}

.brand-logo-container {
  z-index: 1;
}

.brand-header .brand-logo {
  width: 18rem;
  height: 18rem;
  border-radius: 1rem;
  border: 1px solid #dee2e6;
  padding: 0.5rem;
  box-shadow: 0 0.2rem 0.3rem black;
  overflow: hidden;
  background-color: var(--background-blue);
  background-color: #fff;

  object-fit: contain;
}

.brand-header-title-container {
  gap: 0.5rem;
  flex-direction: column;
}

.brand-type {
  color: var(--secondary-gray-color);
  font-size: 1.8rem;
  text-transform: uppercase;
}

.brand-name {
  font-size: 2.5rem;
  font-weight: bold;
}

.brand-website {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--dark-blue);
}

.brand-user-options {
  gap: 1rem;
  align-items: flex-start;

  position: relative;
}

.brand-notes {
  display: none;
  position: absolute;
  z-index: 100;

  width: 33.3rem;
  height: 20rem;
  padding: 1rem;
  top: 110%;

  background-color: #fff;
  border: 1px solid black;
  border-radius: 1rem;
}

.brand-header-container {
  margin-top: 1rem;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.brand-heading-container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.brand-header .header-btn {
  font-size: 2rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.brand-header .header-btn:active {
  transform: scale(0.98);
}

.brand-add-notes {
  border: 1px solid black;
  background-color: #fff;
}

.brand-subscribe-status.status-yes {
  background-color: var(--stock-green);
  color: #fff;
  border: 1px solid var(--stock-green);
}

.brand-subscribe-status.status-no {
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
}

.header-btn:hover {
  opacity: 0.7;
}

.brand-header-tab-container {
  width: 70%;
  justify-content: space-between;
}

.brand-header-tab {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  padding: 2rem;
  padding-bottom: 2.5rem;

  cursor: pointer;
}

.brand-header-tab.selected {
  box-shadow: 0.2rem 0.2rem 0.5rem var(--secondary-gray-color);
  border-radius: 1rem;
  background-color: #fff;
}

/* brand detail section */
/* --------------------------- */
/* --------------------------- */
.brand-about {
  transform: translateY(-10%);
  background-color: #fff;
}

.brand-details {
  width: 50%;
  flex-direction: column;
  gap: 2rem;

  border-right: 1px solid var(--transparent-gray);
}

.brand-details-heading {
  flex-direction: column;
  gap: 2.5rem;
}

.brand-section-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.brand-details-description {
  font-size: 1.3rem;
}

.brand-detail-list {
  display: flex;
  gap: 1.5rem;
}

.brand-detail-list ul {
  flex-direction: column;
  gap: 1.5rem;
}

.brand-detail-list .brand-detail-item {
  font-size: 1.5rem;
}

.brand-detail-item-property {
  display: block;
  /* font-size: 1.8rem; */
  font-weight: bold;
}

/* single use color */
.brand-detail-icon.location {
  color: #cc2020;
}
.brand-detail-icon.employee {
  color: #bd8409;
}
.brand-detail-icon.stock {
  color: #0ae039;
}
.brand-detail-icon.facebook {
  color: #0a31e0;
}
.brand-detail-icon.twitter {
  color: #0aa3e0;
}
.brand-detail-icon.linkedin {
  color: #14b9fa;
}

/* --------------------------- */
.brand-hightlights {
  flex-direction: column;
  gap: 2.5rem;

  padding-right: 2rem;
  border-right: 1px solid var(--transparent-gray);
}

.brand-highlights-list {
  flex-direction: column;
  gap: 1.5rem;
}

.brand-highlights-item {
  font-size: 1.7rem;
  border: 1px solid rgba(129, 129, 129, 0.2);
  padding: 1.8rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.2rem black;
}

.brand-highlights-number {
  font-weight: bold;
  color: var(--main-color);
}

/* ------------ brand news ------------ */
.brand-news-activity-title {
  margin-bottom: 2.5rem;
}

.brand-news-activity {
  width: 26%;
  font-size: 1.2rem;
}

.brand-news__title-icon span {
  margin-right: 0.5rem;
}

.brand-news-item {
  gap: 0.5rem;
  border-bottom: 1px solid rgb(160, 160, 160);
  margin-bottom: 2.5rem;
}

.brand-news-source {
  font-size: 1.5rem;
  font-weight: bold;
}

.brand-news-article {
  padding: 0.5rem 0;
  display: block;
}

.brand-news-article:hover {
  color: var(--main-color);
}

.brand-news__article-block p {
  display: block;
}

/* brand financial section */
/* --------------------------- */
/* --------------------------- */
.brand-financial-block {
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.brand-financial-stock {
  flex-direction: column;
  width: 50%;
  gap: 2rem;
  padding-right: 1rem;
}

.brand-financial-content {
  width: 100%;
  gap: 2rem;
}

.brand-financial-stock-information {
  border: 1px solid var(--transparent-gray);
  padding: 1rem;
  flex-direction: column;
  gap: 1.5rem;
}

.brand-financial-stock-information:empty {
  border: none;
}

.brand-financial-stock-information:empty::after {
  content: "No data yet!";
  color: gray;
  font-size: 1.6rem;
  /* font-style: italic; */
}

.stock-info {
  gap: 1.5rem;
}

.stock-info-header {
  flex-direction: column;
  gap: 0.5rem;
  display: inline-flex;
}

.stock-info-header p {
  display: inline-block;
}

.stock-logo {
  width: 5rem;
  height: 5rem;
  display: inline;
  /* border-radius: 100%; */
  border: 0.2rem solid var(--secondary-gray-color);
}

.stock-company-name {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 500;
}

.stock-symbol-full {
  font-size: 1.6rem;
  font-weight: 500;
}

.stock-stats {
  justify-content: space-between;
}

.stock-stats .stock-price {
  font-size: 2.2rem;
  font-weight: bold;
}

.stock-stats .stock-currency {
  font-weight: bold;
}

.stock-stats .stock-change,
.stock-stats .stock-change-percent {
  margin-left: 0.4rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--stock-green);
}

.stock-stat-list {
  gap: 0.8rem;
}

.stock-stat-list .list-input {
  font-size: 1.5rem;
  font-weight: bold;
}

.brand-financial-statistics {
  flex-direction: column;
  gap: 2rem;
}

.stock-statistics {
  flex-direction: column;
  gap: 1.5rem;
}

.stock-statistics:empty::after {
  content: "No data yet!";
  color: gray;
  font-size: 1.6rem;
}

.stock-statistics-item {
  font-size: 1.5rem;
  justify-content: space-between;

  gap: 3rem;
}

.brand-stock-signal {
  flex-direction: column;
  width: 25%;
  gap: 2rem;
}

.brand-stock-signal-list {
  flex-direction: column;
}

.brand-stock-signal-list .brand-news-article {
  font-size: 1.2rem;
}

/* brand contacts section */
/* --------------------------- */
/* --------------------------- */
.brand-contacts {
  background-color: #fff;
  /* min-height: 48rem;  */
}

/* when there is no data yet */
.contact-list-no-data::after {
  content: "No data yet!";
  color: gray;
  font-size: 1.6rem;
}

.brand-contacts-block {
  width: 50%;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

.contacts-item {
  border-top: 1px solid var(--transparent-gray);
  padding: 2rem;
  display: flex;
  justify-content: space-between;

  font-size: 1.2rem;
}

.contacts-basics {
  flex-direction: column;
  gap: 0.7rem;
  min-width: 20rem;
}

.contacts-name {
  font-size: 1.7rem;
  font-weight: 500;
}

.contacts-linkedin {
  color: var(--main-color);
}

.contacts-title {
  font-weight: 500;
}

.contacts-info {
  font-size: 1.3rem;
  flex-direction: column;
  gap: 2rem;

  min-width: 16rem;
}

.contacts-email a:hover,
.contacts-phone a:hover {
  text-decoration: underline;
  color: var(--dark-blue);
}

.contacts-button {
  padding: 1rem;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 1.5rem;
  cursor: pointer;
}

.contacts-save-button {
  background-color: var(--main-color);
}

.contacts-saved-button {
  background-color: var(--stock-green);
}

.contacts-save-button:active,
.contacts-saved-button:active {
  transform: scale(0.98);
}

.view-more-block {
  justify-content: center;
}

/* ----------- leadership list -------------- */
.brand-leadership-block {
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

.leadership-list {
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.leadership-list-no-data::after {
  content: "No data yet!";
  color: gray;
  font-size: 1.6rem;
}

.leadership-list-item {
  width: 40%;
  border: 1px solid var(--transparent-gray);
  border-radius: 1rem;
  box-shadow: 0.2rem 0.3rem 0.5rem var(--transparent-gray);
  padding: 1rem;
  gap: 1.5rem;
}

.leadership-profile {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 100%;

  /* border: 0.2rem solid var(--transparent-gray); */
  box-shadow: 0.2rem 0.1rem 0.5rem var(--transparent-gray);
}

.leadership-detail {
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.leadership-name {
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.7rem;
}

.leadership-role {
  font-size: 1.2rem;
  font-weight: 500;
}

.brand-leadership-block .view-more-btn {
  width: 20%;
  align-self: center;
}
