.main-list {
  max-width: 50rem;
  margin: 5rem auto;
}

.main-list ul {
  font-size: 2.5rem;
}

.brand-btn {
    border-radius: 0.05rem;
    background-color: cornflowerblue;
    color: #fff;
}

.main-list a {
  color: rgb(0, 131, 253);
}
.simple-nav {
  padding: 2rem;
  display: flex;
  gap: 4rem;
  font-size: 1.5em;
}
