.search-bar {
  border: 2px solid black;
  display: flex;
  overflow: hidden;
  font-size: 2.5em;
  min-width: 50rem;
  border: none;
  border-radius: 1rem;
  background-color: #fff;
  padding: 0.5rem;

  /* position: relative; */
}

.search-area {
  position: relative;
}

.search-bar__input {
  font-size: 2rem;
  border: 1px;
  padding: 0.25em 1em;
  flex-grow: 1;
  outline: 0;

  width: 100%;
  background: #fff;
}

.search-bar__submit {
  font-size: 2.5rem;
  margin-left: auto;
  background: 0;
  border: 0;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  color: #fff;
  background-color: var(--main-color);

  border-radius: 1rem;
}

.search-bar__submit:active {
  transform: scale(0.97);
}

/* ------------------------- search result items ------------------------ */
.search-result {
  max-width: 50rem;
  max-height: 70rem;
  overflow: hidden;

  padding: 0.5rem 0;
  top: 90%;

  background-color: rgba(255, 255, 255, 0.699);

  position: absolute;
}

.search-result__list-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.542);
  cursor: pointer;
}

.search-item {
  width: 50rem;
  justify-content: space-between;
  align-items: center;
}

.search-result__list-item:hover {
  background-color: var(--primary-gray-color);
}

.search-result__list-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.result-logo,
.result-logo-img {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
}

.result-brand__name {
  font-size: 2.2rem;
  font-weight: bold;

  justify-content: flex-end;
}

.result-brand__url {
  font-size: 1.3rem;
  color: var(--stock-green);
  justify-content: flex-end;
}

.search-result__no-result {
  justify-content: center;
  padding: 1rem;
  font-size: 1.3rem;
  color: var(--warning-red);
}
