/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1450px (Smaller desktops) */
/**************************/

@media (max-width: 90em) {
  .header {
    padding: 0 2rem;
  }
  /* nav bar becoming vertical */
  .main-nav-list {
    gap: 3.5rem;
  }

  .search-bar {
    min-width: 40rem;
  }

  .search-result {
    max-width: 40rem;
  }
}

/**************************/
/* BELOW 1250px (Landscape Tablets) */
/**************************/

@media (max-width: 78em) {
  /* nav section */
  .main-nav-list > li {
    height: auto;
    display: flex;
    align-items: center;
    width: 15rem;
    background-color: #f1f1f1dc;
    border-radius: 1rem;
    justify-content: center;
  }

  /* sub nav sections */
  .main-nav-list .user-profile .sub-menu--user-profile {
    left: auto;
    right: 100%;
  }

  .main-nav-list li .sub-menu {
    right: 100%;
  }

  .home-left-panel,
  .home-column,
  .home-right-panel {
    margin: 1.2rem;
  }

  /* center panel */
  .home-column {
    max-width: 50rem;
  }

  /* right panel */
  .home-right-panel {
    max-width: 25rem;
  }

  .right-brand-title {
    max-width: 7rem;
    overflow: hidden;
  }
  .right-brand-status-text {
    max-width: 7rem;
  }

  /* left panel */
  .welcome-area {
    flex-direction: column;
  }

  .user-functions-item span,
  .business-functions-item span {
    display: none;
  }

  .user-functions-item,
  .business-functions-item {
    font-size: 3rem;
  }

  .functions-title--lower-resolution {
    display: block;
  }

  .functions-title {
    display: none;
  }

  .welcome-area .user-profile-name {
    font-size: 1.6rem;
  }

  .functions-list li {
    display: flex;
    justify-content: center;
  }
}

/**************************/
/* BELOW 1000px (Smaller laptop/tablet) */
/**************************/
@media (max-width: 62.5em) {
  /* right home panel */
  /* the 3 lists to show up upon hover */
  .home-subscribed-brands--media[action="close-panel"]
    + .home-subscribed-brands,
  .home-recently-viewed--media[action="close-panel"] + .home-recently-viewed,
  .home-most-ad-spend--media[action="close-panel"] + .home-most-ad-spend {
    display: none;
    /* position: absolute;
    transform: translateX(-110%) translateY(-30%);
    width: 30rem; */
  }

  .home-subscribed-brands--media[action="open-panel"] + .home-subscribed-brands,
  .home-recently-viewed--media[action="open-panel"] + .home-recently-viewed,
  .home-most-ad-spend--media[action="open-panel"] + .home-most-ad-spend {
    display: block;
    position: absolute;
    transform: translateX(-110%) translateY(-30%);
    width: 30rem;
  }

  .home-subscribed-brands--media,
  .home-recently-viewed--media,
  .home-most-ad-spend--media {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

/**************************/
/* BELOW 800px (Smaller tablets) */
/**************************/
@media (max-width: 50em) {
  /* home center column */
  .home-column {
    max-width: 35rem;
  }

  .brand-list__brand-title {
    font-size: 1.6rem;
    max-width: 20rem;
    overflow: hidden;
    white-space: nowrap;
  }

  .brand-list__brand-industry {
    font-size: 1.3rem;
  }

  /* search bar hiding input bar */
  .search-icon-to-expand {
    display: flex;
  }

  .search-icon-to-expand[action="close-dropdown"] + .search-bar {
    display: none;
    position: absolute;
  }

  .search-icon-to-expand[action="open-dropdown"] + .search-bar {
    display: flex;
    position: absolute;
    top: 120%;
    transform: translateX(-90%);
  }

  .search-result {
    top: 240%;
    transform: translateX(-90%);
  }

  /* newsfeed */
  .newsfeed-item .news-image {
    width: 20%;
    height: 30%;
  }

  /* nav bar becoming vertical */
  .main-nav-list {
    gap: 5.5rem;
  }
}

/**************************/
/* BELOW 650px (Bigger phones) */
/**************************/
@media (max-width: 40.625em) {
  /* content body */
  .content-body {
    margin: 0 auto;
    flex-direction: column;
  }

  /* left panel */
  .welcome-text-area {
    display: none;
  }

  .home-left-panel {
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
  }

  .functions-list {
    display: flex;
  }

  /* right panel */
  .home-right-panel {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 5rem;
  }

  .home-subscribed-brands--media[action="open-panel"] + .home-subscribed-brands,
  .home-recently-viewed--media[action="open-panel"] + .home-recently-viewed,
  .home-most-ad-spend--media[action="open-panel"] + .home-most-ad-spend {
    transform: translateX(0%) translateY(30%);
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) {
  /* header */
  .header {
    padding: 0.5rem;
  }

  /* nav bar */
  .search-icon-to-expand[action="open-dropdown"] + .search-bar {
    min-width: 30rem;
    transform: translateX(-87%);
  }

  .search-result {
    max-width: 30rem;
    transform: translateX(-87%);
  }

  /* nav bar becoming vertical */
  .main-nav-list {
    gap: 6.5rem;
  }
}
