/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
}

/**************************/
/* BELOW 1250px (Landscape Tablets) */
/**************************/

@media (max-width: 78em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
  .main-nav-link {
    padding: 1rem 0;
    position: relative;
  }

  .main-nav-list[action="close-dropdown"] > li {
    display: none;
    position: absolute;
  }

  .main-nav-list[action="open-dropdown"] > li {
    display: flex;
    position: absolute;
  }

  .main-nav-list > li {
    justify-content: flex-end;
    width: 20rem;
  }

  .main-nav-list > li:nth-child(1) {
    top: 10%;
    right: 10%;
  }

  .main-nav-list > li:nth-child(2) {
    top: 80%;
    right: 2%;
  }

  .main-nav-list > li:nth-child(3) {
    top: 130%;
    right: 2%;
  }

  .main-nav-list > li:nth-child(4) {
    top: 180%;
    right: 2%;
  }

  .main-nav-list > li:nth-child(5) {
    top: 230%;
    right: 2%;
  }

  .main-nav-list > li:nth-child(6) {
    top: 290%;
    right: 2%;
  }

  .main-nav-list li .sub-menu {
    left: auto;
    right: 100%;
    top: 1rem;
  }

  .main-nav-hamburger-button {
    font-size: 4rem;

    cursor: pointer;
    display: flex !important;

    justify-self: center;
  }

  .main-nav-hamburger-button:hover {
    opacity: 0.8;
  }

  /* how it works section */
  .section-howItWorks {
    max-width: 90rem;
  }

  /* call to action */
  .section-cta {
    max-width: 100rem;
  }
}

/**************************/
/* BELOW 1100px (Landscape Tablets) */
/**************************/

@media (max-width: 68.75em) {
  .section-hero {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;

    margin-top: 0;
    max-width: 100rem;

    padding: 4rem 1rem;
  }

  .hero-image {
    max-width: 65rem;
  }

  .hero-text {
    text-align: center;
  }

  .hero-btn {
    justify-content: center;
  }

  .hero-image {
    margin: 0 auto;
  }

  /* call for action */
  .cta {
    margin: 0 auto;

    width: 68rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cta-img-box {
    width: 68rem;
    height: 59rem;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
}

/**************************/
/* BELOW 1000px (Landscape Tablets) */
/**************************/
@media (max-width: 62.5em) {
  .logo {
    font-size: 3.5rem;
  }
  /*  how it works section */
  .section-howItWorks {
    width: 90%;
  }

  .howItWorks-element {
    flex-direction: column;
    gap: 3rem;
  }

  .howItWorks-image-box {
    margin: 0 auto;
    text-align: center;
  }

  .howItWorks-container {
    gap: 8rem;
  }

  /* footer */
  .grid--footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2.5rem;
  }

  .info-col-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .info-col-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .info-col-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .logo-col {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    align-self: start;
    justify-self: left;
  }

  .address-col {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }

  .footer-heading {
    margin-bottom: 1.5rem;
  }

  .footer-nav {
    gap: 0.8rem;
  }

  /* as feasture in logos */
  .section-feature {
    transform: translateY(0%);
    width: 90%;
  }

  .section-feature .logos {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  /* solution section */
  .section-solutions {
    padding: 12.5rem 1rem 1rem 1rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
@media (max-width: 44em) {
  /* section-hero */
  .hero-btn {
    flex-direction: column;
    align-items: center;
  }

  .hero-btn .btn {
    max-width: 50%;
  }

  .hero-image {
    max-width: 40rem;
  }

  /* cta call to action section */
  .section-cta {
    width: 90%;
  }

  .cta {
    width: 100%;
  }
  .cta-img-box {
    width: 100%;
    height: 40rem;
  }

  /* how it works */
  .howItWorks-image-box {
    max-width: 36rem;
  }
  .howItWorks-element img {
    max-width: 36rem;
  }

  /* footer */
  .grid--footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2.5rem;
  }

  .info-col-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .info-col-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .info-col-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .logo-col {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    align-self: start;
    justify-self: left;
  }

  .address-col {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
  }

  /* testimonial */
  .carousel__slide-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .carousel__slide-container img {
    width: 100%;
  }

  .carousel__button {
    top: 75%;
  }

  .carousel__profile {
    width: 25%;
  }

  .carousel__text {
    font-size: 2rem;
  }

  .testimonial-text {
    max-width: 25rem;
  }

  .carousel__button--left {
    left: -10%;
  }

  .carousel__button--right {
    right: -10%;
  }

  /* nav  */
  body {
    position: relative;
  }

  .main-nav {
    display: flex;
  }

  .main-nav[action="close-dropdown"] {
    transform: translateX(100%);
  }

  .main-nav[action="open-dropdown"] {
    background-color: rgba(255, 255, 255, 0.97);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 100;
    transform: translateX(0);

    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-nav-list[action="open-dropdown"] > li {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .main-nav-list {
    gap: 8rem;
    height: auto;
  }

  .main-nav-list > li:nth-child(1) {
    top: 0;
    right: 0;
  }

  .main-nav-list > li:nth-child(2) {
    top: 5%;
    right: 0;
  }

  .main-nav-list > li:nth-child(3) {
    top: 10%;
    right: 0;
  }

  .main-nav-list > li:nth-child(4) {
    top: 15%;
    right: 0;
  }

  .main-nav-list > li:nth-child(5) {
    top: 20%;
    right: 0;
  }

  .main-nav-list > li:nth-child(6) {
    top: 25%;
    right: 0;
  }

  /* singup login dialogue box */
  .login-signup-container {
    width: 100%;
  }

  .form-group {
    flex-direction: column;
    gap: 0;
  }

  .login-signup-container .submit {
    margin-top: 2rem;
  }

  #login-form {
    padding: 2.5rem 2.5rem 1rem 2.5rem;
  }
  .login-container .button-group {
    margin-top: 2.5rem;
  }
}

/**************************/
/* BELOW 425px (Smart phone) */
/**************************/

@media (max-width: 26.56em) {
  /* header */
  .header {
    padding: 0 1rem;
  }

  /* hero section */
  .section-hero {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
  }
  .hero-image {
    width: 35rem;
  }

  /* how it works */
  .howItWorks-image-box {
    max-width: 30rem;
  }
  .howItWorks-element img {
    max-width: 30rem;
  }

  /* cta call to action */
  .cta-img-box {
    width: 100%;
    height: 28rem;
  }

  /* footer */
  .footer {
    max-width: 39rem;
    padding: 2rem 2.5rem;
  }

  /* solution section */
  .solutions-grid {
    font-size: 3.5rem;
    gap: 2.5rem;
  }
}

/**************************/
/* BELOW 340px (Smaller smart phone) */
/**************************/
@media (max-width: 26.56em) {
  .hero-image {
    width: 26rem;
  }
}
