<% layout("/layouts/boilerplateClient.ejs") %>
    <div class="simple-nav">
        <button class="btn"><a href="/">Main Page</a></button>
    </div>

    <main>
        <h1>Home Page</h1>
        <h2>Welcome Test User!</h2>
        <br>
        <br>
        <a href="/internal">Internal Team Management Tools -></a>
        <br>
        <br>
        <div class="search-bar">---------------------</div>
        <p>Brands List goes here</p>
        <div class="trending-brand-list">
            <ul class="brand-list">
                <% for (let brand of brands) { %>
                    <li><span class="name">
                            <%=brand.name%>
                        </span>
                        <a href="/brands/<%=brand._id%>">Brand ID -></a>
                    </li>
                    <% } %>
            </ul>
        </div>
    </main>