<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" type="image/ico" href="./images/BrandInSight-favicon.ico" />
    <link rel="stylesheet" href="./style/style.css">
    <script src="./js/script.js" defer></script>
    <script src="./js/index.js" defer></script>
    <title>BrandInSight</title>
</head>

<body>
    <h1>Home Page</h1>
    <h2>Welcome Test User!</h2>
    <main>
        <div class="search-bar">---------------------</div>
        <div class="trending-brand-list">
            <ul>
                <li>A trending brand here~</li>
                <li>A trending brand here~</li>
                <li>A trending brand here~</li>
                <li>A trending brand here~</li>
                <li>A trending brand here~</li>
            </ul>
        </div>
    </main>
</body>

</html>