<% layout("/layouts/boilerplateInternal.ejs") %>
    <div class="simple-nav">
        <button class="btn"><a href="/">Main Page</a></button>
        <button class="btn"><a href="/home">Home</a></button>
        <button class="btn"><a href="/internal">Internal Page</a></button>

    </div>


    <div class="error-message">
        <h1>Error!</h1>
        <br>
        <h3>
            <%= error %>
        </h3>
    </div>