<% layout("/layouts/boilerplateInternal.ejs") %>
    <div class="internal-nav flex">
        <div class="internal-nav__left">
            <a href="/" class="internal-nav-item">Client Landing Page</a>
            <a href="/home" class="internal-nav-item">Client Home</a>
        </div>
        <div class="internal-nav__right">
            <button class="internal-nav__add-brand brand-add">
                <i class="fa-solid fa-circle-plus"></i> Add Brand
            </button>
        </div>
    </div>

    <section class="internal-main flex">

        <div class="internal-brand-list-section">
            <h1>Brand List:</h1>
            <div class="internal-title-line"></div>

            <div class="add-new-brand flex">
                <button class="internal-btn internal-main-btn brand-add">Add New Brand</button>
            </div>

            <ul class="internal-brand-list">

            </ul>
        </div>

        <div class="view-action-history-section">
            <h1>History:</h1>
            <div class="internal-title-line"></div>

            <div class="view-history-button flex">
                <button class="internal-btn internal-main-btn view-history">View History</button>
            </div>

            <ul class="action-history-list flex-column">
                
            </ul>
        </div>

    </section>


    <script>
        // have to do it this way because of default formatter auto adding space to ejs
        // < % - will not work, space between % and - 
        let brands = JSON.parse(`<%-JSON.stringify(brands)%>`);
    </script>

    <script src="/js/internal/index.js" type="module">
    </script>