<% layout("/layouts/boilerplateInternal.ejs") %>
    <div class="simple-nav">
        <button class="btn"><a href="/">Main Page</a></button>
        <button class="btn"><a href="/home">Home</a></button>
    </div>

    <section class="internal-main">
        <h1>Employee Access Only Page</h1>
        <h2>Edit all data and brands information here</h2>

        <br>
        <br>
        <div class="search-bar">---------------------</div>
        <p>Brands List goes here</p>
        <div class="trending-brand-list">
            <ul class="brand-list">
                <% for (let brand of brands) { %>
                    <li><span class="name">
                            <%=brand.name%>
                        </span>
                        <a href="/brands/<%=brand._id%>">Brand ID -></a>
                    </li>
                    <% } %>
            </ul>
        </div>
        <br>
        <br>



        <div class="action-items">

            <div class="add-new-brand">
                <button class="internal-btn btn brand-add">Add New Brand</button>
            </div>

            <div class="view-action-history">
                <button class="internal-btn btn">View History</button>
            </div>

        </div>

        <p>-------------------------------------------------------</p>
        <p>-------------------------------------------------------</p>


        <a href="/brands/new" class="internal-btn btn">Add a brand</a>
        <br>
        <br>
        <a href="/internal/brandPage" class="internal-btn btn">Internal Brand Page</a>

    </section>


    <script>
        const addNewBrandBtn = document.querySelector(".brand-add");

        addNewBrandBtn.addEventListener("click", function () {
            modal.open("Brand");
        });
    </script>