<% layout("/layouts/boilerplateInternal.ejs") %>
    <div class="simple-nav">
        <button class="btn"><a href="/">Main Page</a></button>
        <button class="btn"><a href="/home">Home</a></button>
    </div>

    <section class="internal-main">
        <h1>Employee Access Only Page</h1>
        <h2>Edit all data and brands information here</h2>

        <a href="/internal/new" class="internal-btn btn">Add a brand</a>

    </section>