.user-profile-main {
  width: 100rem;
  margin: 5rem auto;

  font-size: 1.6rem;

  border: 0.2rem solid var(--main-color);
  border-radius: 1rem;
  overflow: hidden;
}

.profile-content {
  gap: 5rem;
}

.profile-content .no-data-yet {
  font-size: 1.8rem;
  font-style: italic;
}

.profile-content h1 {
  font-size: 2.2rem;
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

.user-profile-main .welcome-area {
  padding: 1.5rem;
  color: #fff;
  background-color: var(--main-color);
}

.user-profile-main .welcome-area .user-profile-name:hover {
  color: #fff;
}

.profile-user-subscribed-brands {
  width: 45%;
}

.profile-user-saved-contacts {
  width: 55%;
}

.profile-content > * {
  padding: 1.5rem;
}

/* ----------- subscribed brand section ----------------*/
.subscribed-brand-logo {
  width: 5rem;
  height: 5rem;
}

.user-subscribed-brands-list {
  gap: 1rem;
}

.subscribed-brands-list-item {
  gap: 1rem;
}

.subscribed-brands-list-item .brand-name-item {
  font-weight: bold;
}

.subscribed-brands-list-item .brand-website-item:hover {
  color: var(--main-color);
}

.brand-name-item:hover {
  color: var(--main-color);
}

/* --------------- saved contact section -----------------*/
.user-saved-contacts-list {
  gap: 1rem;
}

.saved-contacts-list-item {
  align-items: center;
  justify-content: space-between;
}

.logo-item .contact-brand-logo {
  width: 2.5rem;
  height: 2.5rem;
}

.contact-basics {
  width: 15rem;
  font-size: 1.5rem;
}

.contact-name-item {
  font-weight: bold;
}

.contact-position-item {
  font-size: 1.3rem;
}

.contact-method {
  width: 20rem;
  font-size: 1.3rem;
}

.contact-linkedin-item {
  font-size: 3.5rem;
  color: var(--main-color);
}

/* buttons */
.user-subscribed-brands-list .brand-list__subscription-status i:active,
.user-saved-contacts-list .contact-list__subscription-status i:active {
  transform: scale(0.98);
}

.user-subscribed-brands-list .brand-list__subscription-status i:hover,
.user-saved-contacts-list .contact-list__subscription-status i:hover {
  opacity: 0.8;
}

.user-saved-contacts-list .contact-list__subscription-status i {
  cursor: pointer;
}

/* pagination specific */
.profile-saved-contacts {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}
