/* body */
.internal-main-body {
  display: flex;
  flex-direction: column;
}

/* internal nav bar */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.internal-nav {
  background-color: var(--variety-color-purple);
  padding: 1rem;
  gap: 2.5rem;
}

.internal-nav-item {
  color: #fff;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-flex;
  padding: 0.8rem;
}

.internal-nav-item:hover {
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  border: none;
  background-color: #fff;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* main section */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.internal-main {
  font-size: 2em;
  margin: 5rem auto;
}

.brand-add {
}

.internal-main-btn {
  background-color: var(--variety-color-purple);
}

/* brand list */
/* ---------------------------------------------- */
/* ---------------------------------------------- */
.brand-list {
  max-width: 80rem;
}

.brand-list__brand-logo {
  width: 8rem;
  height: 8rem;
}

.brand-list__brand {
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
  
  margin-bottom: 2rem;
}

.internal-main-brand-logo {
  display: inline-flex;
}

.brand-list__text {
  width: 100%;
  justify-content: flex-start;
}

.brand-list__brand-title {
  font-size: 2.5rem;
  color: #fff;
  background-color: var(--variety-color-purple);
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
}

.brand-list__brand-industry {
  font-size: 1.6rem;
}
