/* body */
.internal-main-body {
  display: flex;
  flex-direction: column;
}

/* internal nav bar */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.internal-nav {
  background-color: var(--variety-color-purple);
  padding: 1rem;
  gap: 2.5rem;

  justify-content: space-between;
}

.internal-nav-item {
  color: #fff;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-flex;
  padding: 0.8rem;
}

.internal-nav-item:hover {
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  border: none;
  background-color: #fff;
}

.internal-nav__add-brand {
  color: var(--variety-color-purple);
  background-color: #fff;
  font-size: 1.6rem;
  padding: 0.8rem;

  font-weight: bold;
  border: none;
  border-radius: 1rem;
}

.internal-nav__add-brand:hover {
  color: #fff;
  background-color: var(--stock-green);
  cursor: pointer;
}

.internal-nav__add-brand:active {
  transform: scale(0.98);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* main section */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.internal-main {
  font-size: 2em;
  margin: 5rem auto;

  width: 120rem;
  gap: 7rem;
}

.internal-main-btn {
  background-color: var(--variety-color-purple);
}

/* brand list */
/* ---------------------------------------------- */
/* ---------------------------------------------- */
.internal-brand-list-section {
  width: 55%;
}

.internal-brand-list-section h1,
.view-action-history-section h1 {
  margin-bottom: 0.1rem;
  background-color: var(--variety-color-purple);
  display: inline-block;
  color: #fff;
  padding: 1rem;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  font-size: 2rem;
}

.internal-title-line {
  border-top: 0.2rem solid var(--variety-color-purple);

  margin-bottom: 2rem;
}

.internal-brand-list {
  max-width: 80rem;
}

.add-new-brand,
.view-history-button {
  justify-content: flex-end;
  margin-bottom: 2.5rem;
}

.add-new-brand:hover,
.view-history-button:hover {
  opacity: 0.75;
}

.brand-list__brand-logo {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
}

.brand-list__brand {
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;

  margin-bottom: 2rem;
}

/* history list */
/* ---------------------------------------------- */
/* ---------------------------------------------- */
.view-action-history-section {
  width: 45%;
}

.action-history-list {
  list-style: none;
  gap: 1.2rem;
}

.history-user-icon {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background: #555555;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.history-user-icon::after {
  content: attr(data-label);
  color: #ffffff;
}


.history-item-container {
  padding: 0.5rem;
  gap: 1.3rem;
  justify-content: space-between;
  font-size: 1.3rem;
  align-items: center;

  border: 1px solid black;
  border-radius: 1rem;
}











/* ------------------- */
.internal-main-brand-logo {
  display: inline-flex;
}

.brand-list__text {
  width: 100%;
  justify-content: flex-start;
}

.brand-list__brand-title {
  font-size: 2.5rem;
  color: #fff;
  background-color: var(--variety-color-purple);
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
}

.brand-list__brand-industry {
  font-size: 1.6rem;
}

/* ---- view more and pagination ------- */
.internal-brand-list-section .view-more-btn {
  cursor: pointer;
  font-size: 1.2rem;
  border: 0.2rem solid var(--variety-color-purple);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--variety-color-purple);
}

.internal-brand-list-viewmore {
  justify-content: center;
}

.internal-brand-list-viewmore .pagination-btn {
  background-color: var(--variety-color-purple);
}

.internal-brand-list-viewmore ul {
  list-style: none;
}
